form {
  display: flex;
  flex-direction: column;

  padding-top: 2em;
  margin-left: 2em;
  margin-right: 2em;

  font-family: "Roboto", sans-serif;
}

label {
  padding-bottom: 1.5em;

  color: #707070;

  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

input {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #bababa;
}
