ul {
  display: flex;
  list-style: none;
  font-style: normal;
  cursor: pointer;

  li {
    color: #848484;
    padding-right: 10px;
  }

  a:hover {
    color: #fca37b;
  }
  a:link {
    text-decoration: none;
  }

  a {
    color:#848484;
  }

}

.timer {
  font-size: 20px;
}

.todo {
  font-size: 20px;
}

/* @media  (max-width:400px ) {

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding-left: 10px;
        }
*/
