
.conteiner-button {

 text-align: center;
}


label {
  font-size: 20px;
  color: #ffff;

}


button {
  padding: 10px;
  padding-left: 12em;
  padding-right: 12em;

  border: none;
  background-color: #FFA37B;
  border-radius: 20px;
}
